.home-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: 
    'view view dashboard dashboard new new'
    'products products sign-up sign-up currency currency'
    'cat cat stats stats marketplace marketplace';
  text-align: center;
}

.home-wrapper > a  {
  border: 1px solid;
  margin: 1em;
  transition: background-color 300ms, border-color 300ms, border-width 300ms, margin 300ms, font-size 300ms;
}

.home-wrapper > a:hover  {
  margin: 0;
  border-width: .4em;
  font-size: 1.4em;
}

.home-wrapper > a > div {
  aspect-ratio: 1;
  padding: .5em;
}

.home-wrapper > *:nth-child(1) {
  grid-area: dashboard;
  background-color: #D5F8D4;
  border-color: #82B366;
}

.home-wrapper > *:nth-child(1):hover {
  background-color: #7fdf7a;
  border-color: #5a9637;
}

.home-wrapper > *:nth-child(2) {
  grid-area: view;
  background-color: #E1D5E7;
  border-color: #9673A6;
}

.home-wrapper > *:nth-child(2):hover {
  background-color: #bd80db;
  border-color: #643f75;
}

.home-wrapper > *:nth-child(3) {
  grid-area: new;
  background-color: #fad6b0;
  border-color: #D79B00;
}

.home-wrapper > *:nth-child(3):hover {
  background-color: #f7b46d;
  border-color: #8a6302;
}

.home-wrapper > *:nth-child(4) {
  grid-area: cat;
  background-color: #f7bebb;
  border-color: #B85450;
}

.home-wrapper > *:nth-child(4):hover {
  background-color: #f77d77;
  border-color: #803a38;
}

.home-wrapper > *:nth-child(5) {
  grid-area: stats;
  background-color: #73B0FF;
  border-color: #145BFF;
}

.home-wrapper > *:nth-child(5):hover {
  background-color: #2280fc;
  border-color: #0f42bb;
}

.home-wrapper > *:nth-child(6) {
  grid-area: products;
  background-color: #86d3b5;
  border-color: #588876;
}

.home-wrapper > *:nth-child(6):hover {
  background-color: #439777;
  border-color: #3a5a4e;
}

.home-wrapper > *:nth-child(7) {
  grid-area: currency;
  background-color: #f0f797;
  border-color: #cad682;
}

.home-wrapper > *:nth-child(7):hover {
  background-color: #e6d11a;
  border-color: #89920b;
}

.home-wrapper > *:nth-child(8) {
  grid-area: marketplace;
  background-color: #f797cf;
  border-color: #b95790;
}

.home-wrapper > *:nth-child(8):hover {
  background-color: #b95790;
  border-color: #8a3466;
}

.home-wrapper > *:nth-child(9) {
  grid-area: sign-up;
  background-color: #f797cf;
  border-color: #b95790;
}

.home-wrapper > *:nth-child(9):hover {
  background-color: #b95790;
  border-color: #8a3466;
}