.new-receipt-table {
  margin-top: 2em;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

.new-receipt-table th,
.new-receipt-table td {
  padding: .2em;
  border: 1px solid #90C3D0;
}

.new-receipt-table th {
  text-align: center;
}

.new-receipt-table tr {
  padding-right: 20px;
}

.new-receipt-table td {
  background-color: lightblue;
}

.new-receipt-table td:nth-of-type(2) {
  width: 25%;
}

.new-receipt-table td:nth-of-type(3) {
  width: 25%;
}

.new-receipt-table td:nth-of-type(4) {
  width: 1em;
}

.new-receipt-total {
  margin-top: 1em;
  margin-bottom: -1em;
  display: block;
  text-align: right;
}