.dashboard-recent {
    min-height: 300px;
    padding: .4em;
    background-color: #F5FDFF;
}

.dashboard-recent h2 {
    padding: 0 1em;
    margin: 0;
    font-size: 1em;
    font-weight: 300;
}

.dashboard-recent__controls {
    margin-top: 2em;
    text-align: center;
    font-size: .6em;
    color: white;
}

.dashboard-recent__controls button {
    cursor: pointer;
    padding: .4em 2em;
    margin: 0 1em;
    border-radius: 1em;
}

.dashboard-recent__controls > *:nth-child(1) button {
    background-color: #1A4E5B;
    border: 1px solid #314354;
}

.dashboard-recent__controls > *:nth-child(2) button {
    background-color: #60A917;
    border: 1px solid #2D7600;
}

.dashboard_no-recent_results {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    margin: 2em auto;
    width: 200px;
}

.dashboard_no-recent_results-icon{
    font-size: 100px;
    color: #647687;
}