.form-container {
  margin: 0 auto;
  padding: 16px 0;
  width: 332px;
  text-align: center;
  color:black;
  font-size: .9rem
}

.form-container form {
  margin: 1rem auto;
  border-radius: 1em;
}

.form__input-wrapper input {
  margin: 4px 0;
  padding: .1em .2em;
  border: 1px solid #90C3D0;
  width: 100%;
  color: #1A4E5B;
}

.form__input-wrapper input::placeholder {
  font-style: italic;
  color: #90C3D0;
}

.form__input-wrapper.invalid input {
  border-color: red;
}

.form-container form button {
  margin-top: 1rem;
  width: 100%;
  padding: .3em 1em;
  border: 1px solid #90C3D0;
}

.form-container button {
  transition: background-color 200ms;
  cursor: pointer;
  border-radius: .3rem;
}

.form-container button:hover {
  background-color: #90C3D0;
}

.login-via-service-wrapper {
  margin: 1rem 0;
}

.login-via-service-btn {
  display: flex;
  align-items:center;
  width: 100%;
  margin: .2rem 0;
  padding: .3em 1.5em;
  border-radius: .3rem;
  border: 1px solid #90C3D0;
}

.login-via-service-btn > *:nth-child(2) {
  flex-grow: 1;
  text-align: center;
}

.login-via-service-btn svg {
  width: 26px;
  height: 26px;
}