.receipt-wrapper {
  text-align: left;
  font-size: .8em;
}

.receipt-wrapper > div {
  display: grid;
  grid-template-columns: 12ch 24ch;
  column-gap: 2ch;
  align-items: center;
  font-size: 16px;
}

.receipt-wrapper input,
.receipt-wrapper select,
.receipt-wrapper label,
.receipt-wrapper option {
  background-color: white;
  color: #1A4E5B;
  text-overflow: ellipsis;
  font-size: 14px;
}

.receipt-wrapper input,
.receipt-wrapper select,
.receipt-wrapper option {
  cursor: pointer;
  padding: 2px 3px;
}

.receipt-wrapper input[type="datetime-local"] {
  padding: 0 6px;
}



.receipt-info-item {
  margin-bottom: .2em;
}