.slider-color__wrapper {
  position: relative;
  padding: 0 40px;
}

.slider-color__track-wrapper {
  width: 168px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-color__track {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 66px;
}

.slider-color__track.transition--on {
  transition: transform 200ms;
}

.slider-color__track > * {
  box-sizing: content-box;
  width: 18px;
  height: 60px;
  flex-shrink: 0;;
}

.slider-color__prev {
  left: 128px;
}

.slider-color__next {
  right: 128px;
}

.slider-color__prev,
.slider-color__next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 200ms;
}

.slider-color__prev:hover,
.slider-color__next:hover {
  opacity: 1;
}

.color-center-item {
  border-width: 3px;
  border-style: solid;
}