.slider-color__wrapper {
  position: relative;
  padding: 0 40px;
}

.slider-color__track-wrapper {
  width: 168px;
  overflow: hidden;
  margin: 0 auto;
}

.slider-color__track {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 66px;
}

.slider-color__track.transition--on {
  transition: transform 200ms;
}

.slider-color__track > * {
  box-sizing: content-box;
  width: 18px;
  height: 60px;
  flex-shrink: 0;;
}

.color-center-item {
  border-width: 3px;
  border-style: solid;
}