.dashboard__latest-category {
  border: 1px solid brown;
  width: 80px;
  max-width: 120px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.dashboard__latest-category-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .6rem;
  font-size: 1.4rem;
  color: brown;
}

.dashboard__latest-category-name {
  text-align: center;
  background-color: brown;
  color: white;
  font-weight: 300;
  font-size: .5rem;
  padding: .1rem;
}