.dashboard-categories {
    padding: .4em;
    min-height: 100px;
    background-color: white;
}

.dashboard-categories h2 {
    margin: 0;
    margin-bottom: .5em;
    padding: 0 1em;
    font-size: 1em;
    font-weight: 400;
    color: #0A1F24;
    text-transform: uppercase;
}