.dashboard-current-month {
    display: flex;
    gap: 1em;
    padding: 3em;
}

.dashboard-current-month__header {
    text-align: right;
    font-size: 1em;
}

.dashboard-current-month__total {
    color: #660000;
}