.category-small {
  padding: 0.2em 1em;
  border-radius: 1em;
  font-size: .8em;
  background-color: gray;
  border: 1px solid rgb(100, 93, 93);
  color: white;
}

.category-small > svg{
  margin-right: .4rem;
}