.dashboard__receipt {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 9em 8em 200px;
    column-gap: .2em;
    padding: .4em .8em;
    border: 1px solid #90C3D0;
    border-radius: 4px;
    margin-bottom: 0.4em;
    font-size: .8em;
    font-weight: 300;
}

.dashboard__receipt > :nth-child(1) span {
    padding: 0.2em 1em;
    border-radius: 1em;
    font-size: .8em;
    background-color: gray;
    color: white;
}

.dashboard__receipt > :nth-child(2) {
    
}

.dashboard__receipt > :nth-child(3) {
    
}

.dashboard__receipt > :nth-child(4) {
    color: #660000;
    text-align: right;
}

.dashboard__receipt > :nth-child(5) {
    margin-left: 80px;
}

.dashboard__receipt-actions {
    display: flex;
    justify-content: space-evenly;
}

.dashboard__receipt-icon {
    font-size: 20px;
    color: #1A4E5B;
}