.dashboard__receipt {
    display: grid;
    align-items: center;
    grid-template-columns: 10em 20em 9em 8em 1fr;
    column-gap: .2em;
    padding: .2em .8em;
    border: 1px solid #90C3D0;
    border-radius: 4px;
    margin-bottom: 0.4em;
    font-size: .8em;
    color: #1A4E5B;
}

.dashboard__receipt > :nth-child(1) span {
    padding: 0.2em 1em;
    border-radius: 1em;
    font-size: .8em;
    background-color: gray;
    border: 1px solid rgb(100, 93, 93);
    color: white;
}

.dashboard__receipt > :nth-child(4) {
    color: #660000;
    text-align: right;
}

.dashboard__receipt > :nth-child(5) > * {
    margin-left: 1em;
}

.dashboard__receipt-actions {
    display: flex;
    justify-content: flex-end;
    text-align: right;
}

.dashboard__receipt-icon {
    font-size: 20px;
    padding: .3em;
    transition: background-color 200ms;
    border-radius: 50%;
}

.dashboard__receipt-icon:hover {
    background-color: #90C3D0;
}